<div class="centered-content">
  <div class="login-box box">
    <h1 class="title has-text-black is-link mb-4">Login</h1>
    <div class="field">
      <p class="control has-icons-left">
        <input #emailInput class="input has-background-light is-medium" type="email" placeholder="Email" />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #pwInput class="input has-background-light is-medium" type="password" placeholder="Password" />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field has-text-right">
      <button class="button is-primary is-medium has-text-white" (click)="onLoginButtonClicked(emailInput.value, pwInput.value)">Login</button>
    </div>
    <div class="field">
      <button class="button is-link is-light is-medium is-fullwidth mt-2" (click)="navigateToSignup()">Don't have an account? Sign up</button>
    </div>
    <div class="field">
      <button class="button is-link is-light is-medium is-fullwidth mt-2" (click)="signInWithGoogle()">
        <span class="icon">
          <i class="fab fa-google"></i>
        </span>
        <span>Continue with Google</span>
      </button>
    </div>
  </div>
</div>
