@import '../../../styles.scss';

.task-manager-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 600px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: white;
  padding: 42px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  .list-menu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;

    .list-menu-item {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border-radius: 5px;
      color: #D3D3D3;
      margin-bottom: 5px;

      &:hover {
        background: $soft-gray; // Soft gray hover
      }

      &.is-active {
        background-color: $light-blue; // Highlight active item
        color: $dark-blue;
      }
    }
  }
}

.tasks-list-container {
  position: relative;
  padding: 42px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  .top-bar{
    display: flex;
    margin-bottom: 10px;
    .title{
      flex-grow: 1;
      margin: 0;
    }
  }
}

.task {
  display: flex;
  background: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;

  justify-content: center;
  align-items: center;

  &:not(.complete) {
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.2s ease;

    &:hover {
      box-shadow: 5px 5px 10px 5px $light-blue; // New light-blue hover shadow

      .task-buttons{
        opacity: 1;
        transform: scale(1);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &.completed .task-text {
    text-decoration: line-through;
    opacity: 0.8;
  }

  .task-text {
    display: flex;
    flex-grow: 1;
  }

  .task-buttons {
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0;
    transform: scale(0.5);
  }
}

.circle-add-button {
  position: absolute;
  bottom: 35px;
  right: 35px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: $sky-blue; // New blue button
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $dark-blue; // Darker blue on hover
  }
}
